---
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/core/Navigation.astro";
import { ThemeToggle } from "../components/ThemeToggle";
import ThemeScript from "../components/ThemeScript.astro";
import "../styles/index.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <ThemeScript />
  </head>
  <body
    class="relative bg-background text-foreground transition-colors duration-150">
    <div class="flex min-h-screen flex-col">
      <header
        class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
        <div
          class="mx-auto flex h-14 max-w-screen-2xl items-center justify-between px-4">
          <!-- <Navigation /> -->
          <ThemeToggle client:only="react" />
        </div>
      </header>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
