---
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-8 mt-16">
  <div
    class="mx-auto flex max-w-3xl flex-col items-center justify-center gap-y-4 px-4 sm:flex-row sm:justify-between"
  >
    <div class="flex flex-wrap items-center justify-center gap-x-4 text-center">
      <p class="text-muted-foreground text-sm">
        © {new Date().getFullYear()} Ryan Barnett
      </p>
      <!-- <Separator orientation="vertical" className="hidden h-4! sm:block" /> -->
      <!-- <div class="flex gap-4 text-sm">
        <Link href="/colophon" class="text-muted-foreground hover:text-foreground">
          Colophon
        </Link>
        <Link href="/changelog" class="text-muted-foreground hover:text-foreground">
          Changelog
        </Link>
      </div> -->
    </div>
    <SocialIcons links={SOCIAL_LINKS} />
  </div>
</footer>